<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IPFS Demo</title>
</head>
<body>
    <h1>Upload file to IPFS</h1>
    <form action="/upload-file" method="POST" enctype="multipart/form-data">
        <label>Upload File</label>
        <input type="file" name="myfile">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>